body{
    background-color: #0A0A0A;
    font-family: 'Poppins', sans-serif;
    color: white;
}


// .container{
//     display: flex;
//     flex-direction: column;
//     padding: 1rem 5rem;
    
// }

// nav {
//     width: 100%;
// }

// // .hero{
// //     display: flex;
// //     flex-direction: row;
// //     justify-content: space-between;
// //     align-items: center;
// // }

// .photo > img{
//     height: 90vh;
// }

// .footer{
//     color: #0A0A0A;
//     background-color: white;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }

// .header-text{
//     font-size: 50pt;
// }

// .signature{
//     letter-spacing: 3px;
// }